* {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  box-sizing: border-box;
  /* 폰트 */
}

html,
body {
  width: 100%;
  height: 300vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Poppins;
}
/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 폰트 */
#fullpage {
  width: 100%;
  height: 100%;
  /* overflow: auto; */
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

.fp-overflow {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: flex-start; */
  max-height: 100vh;
}
.intro-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #1e1e1e;
  overflow: hidden !important;
  z-index: 10;
}
.height_box {
  position: relative;
  width: 100%;
  /* cursor: none; */
  height: 200vh !important;
  overflow: hidden !important;
}

.side-box {
  position: fixed;
  width: 100%;
  height: 100%;
}
.side-box span {
  position: absolute;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Poppins;
}

.side-box span:nth-child(1) {
  top: 15px;
  left: 15px;
}
.side-box span:nth-child(2) {
  top: 15px;
  right: 15px;
}
.side-box span:nth-child(3) {
  bottom: 15px;
  left: 15px;
}
.side-box span:nth-child(4) {
  bottom: 15px;
  right: 15px;
}

.big-logo {
  background-image: url(../images/genie-big.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center !important;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: none; */
}
.small-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/genie33.png);
}

/* section */
#fullpage .section {
  color: white;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#fullpage .section:nth-child(1) {
  background-color: #1e1e1e;
}

#fullpage .section:nth-child(2) {
  background-color: #1e1e1e;
}

#fullpage .section:nth-child(3) {
  background-color: #1e1e1e;
}
#fullpage .section:nth-child(4) {
  background-color: #1e1e1e;
}

.sec-01 {
  width: 100%;
  height: 100%;
}
.cont {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 90px;
  overflow: hidden;
}
.inner-txt {
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
  /* font-size: 6vw; */
  font-size: 3vw;
}
.inner-txt.active {
  color: #0095ff;
  font-size: 8vw;
}
.inner-txt .bottom_txt {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.sec-01__item {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(/images/blue-one.svg) no-repeat left bottom;
}
