* {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  letter-spacing: -0.4px;
  box-sizing: border-box;
  /* 폰트 */
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, Poppins;
}
/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 폰트 */
/* #fullpage {
  width: 100%;
  height: 100%;
} */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

.fp-overflow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  max-height: 100vh;
}
.fp-is-overflow > .fp-overflow {
  overflow: auto;
}
.intro-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #1e1e1e;
  overflow: hidden;
  z-index: 10;
}
.height_box {
  position: relative;
  width: 100vw !important;
  height: 300vh;
  overflow: hidden !important;
}

.side-box {
  position: absolute;
  width: 100%;
  height: 100%;
}
.side-box span {
  position: absolute;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Poppins;
}

.side-box span:nth-child(1) {
  top: 15px;
  left: 15px;
}
.side-box span:nth-child(2) {
  top: 15px;
  right: 15px;
}
.side-box span:nth-child(3) {
  bottom: 15px;
  left: 15px;
}
.side-box span:nth-child(4) {
  bottom: 15px;
  right: 15px;
}

.big-logo {
  background-image: url(../images/genie-big.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center !important;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: none; */
}
.small-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #1e1e1e;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/genie33.png);
}

/* section */
#fullpage .section {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

#fullpage .section:nth-child(1) {
  background-color: #1e1e1e;
}

#fullpage .section:nth-child(2) {
  background-color: #1e1e1e;
}

#fullpage .section:nth-child(3) {
  background-color: #1e1e1e;
}
#fullpage .section:nth-child(4) {
  background-color: #1e1e1e;
}

/* sec01 */

.sec-01 .fp-overflow {
  display: block;
}

.sec-01 {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.cont {
  width: 100%;
  height: 100%;
  padding-top: 90px;
  /* overflow: hidden; */
  position: relative;
}
.cont-t {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 2;
}
.inner-txt {
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
  /* font-size: 6vw; */
  font-size: 3vw;
  color: #fff;
}
.inner-txt p {
  line-height: 1;
}
.inner-txt.active {
  color: #0095ff;
  font-size: 8vw;
}
.inner-txt .bottom_txt {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.sec-01__item {
  width: 60%;
  height: 60%;
  left: -5%;
  bottom: -10%;
  z-index: 1;
  position: absolute;
  background: url(../images/blue-cle.svg) no-repeat -10% 100%;
}

.movie-item {
  width: 100%;
  height: 100vh;
  /* transform: translateY(100%); */
}
.movie__t {
  width: 100%;
  color: #fff;
  font-size: 2rem;
}
.movie__t p {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}
.movie__vidio {
  text-align: center;
}
/* sec-01 end */

/* sec-02 */
.album-container {
  display: flex;
  /* max-width: 1200px; */
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.album-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  position: absolute;
  background: url(../images/music_big_bg.svg) no-repeat center/cover;
}
.album-info {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.album-title {
  font-size: 3.125rem;
  margin-bottom: 1rem;
  color: #fff;
}

.album-desc {
  font-size: 1rem;
  line-height: 1.5;
  color: #c3c3c3;
}

.album-list-wrapper {
  width: 60%;
  overflow-y: auto; /* 세로 스크롤 임시 활성화 없앨거임 */
  height: 100vh;
}

.album-list {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.album-item {
  width: 350px;
  height: 600px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

/* 지그재그 효과 */
.album-item:nth-child(odd) {
  transform: translateX(-60%); /* 홀수 아이템 왼쪽 이동 */
}
.album-item:nth-child(even) {
  transform: translateX(60%); /* 짝수 아이템 오른쪽 이동 */
}

.album-cover {
  width: 100%;
  object-fit: contain;
}

.album-name {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
}

.artist-name {
  font-size: 1rem;
  color: #aaa;
  text-align: center;
}
