//colors
$white: #fff !default;
$black: #000 !default;
$gray: #8e8e8e !default;
$primary: #246beb !default;
$secondary: #003675 !default;
$point: #e71825 !default;
$danger: #eb003b !default;
$warning: #ffb724 !default;
$success: #008a1e !default;
$information: #2768ff !default;
$colors: (
  "white": $white,
  "black": $black,
  "primary": $primary,
  "secondary": $secondary,
  "point": $point,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
  "information": $information,
);

//primary colors
$primary-5: #eff5ff !default;
$primary-10: #d3e1fb !default;
$primary-20: #a7c4f7 !default;
$primary-30: #7ca6f3 !default;
$primary-40: #5089ef !default;
$primary-60: #1d56bc !default;
$primary-70: #16408d !default;
$primary-80: #0e2b5e !default;
$primary-90: #07152f !default;

$primary-colors: (
  "5": $primary-5,
  "10": $primary-10,
  "20": $primary-20,
  "30": $primary-30,
  "40": $primary-40,
  "60": $primary-60,
  "70": $primary-70,
  "80": $primary-80,
  "90": $primary-90,
) !default;

//secondary colors
$secondary-5: #edf1f5 !default;
$secondary-10: #cdd7e4 !default;
$secondary-20: #b4c4d6 !default;
$secondary-30: #99b0cb !default;
$secondary-40: #2a5c96 !default;
$secondary-60: #002b5e !default;
$secondary-70: #002046 !default;
$secondary-80: #00162f !default;
$secondary-90: #000b17 !default;

$secondary-colors: (
  "5": $secondary-5,
  "10": $secondary-10,
  "20": $secondary-20,
  "30": $secondary-30,
  "40": $secondary-40,
  "60": $secondary-60,
  "70": $secondary-70,
  "80": $secondary-80,
  "90": $secondary-90,
) !default;

//point colors
$point-5: #fdf2f3 !default;
$point-10: #fad1d3 !default;
$point-20: #f5a3a8 !default;
$point-30: #f1747c !default;
$point-40: #ec4651 !default;
$point-60: #b9131e !default;
$point-70: #8b0e16 !default;
$point-80: #5c0a0f !default;
$point-90: #2e0507 !default;

$point-colors: (
  "5": $point-5,
  "10": $point-10,
  "20": $point-20,
  "30": $point-30,
  "40": $point-40,
  "60": $point-60,
  "70": $point-70,
  "80": $point-80,
  "90": $point-90,
) !default;

//gray colors
$gray-5: #f8f8f8 !default;
$gray-10: #f0f0f0 !default;
$gray-20: #e4e4e4 !default;
$gray-30: #d8d8d8 !default;
$gray-40: #c6c6c6 !default;
$gray-50: #8e8e8e !default;
$gray-60: #717171 !default;
$gray-70: #555555 !default;
$gray-80: #2d2d2d !default;
$gray-90: #1d1d1d !default;

$gray-colors: (
  "5": $gray-5,
  "10": $gray-10,
  "20": $gray-20,
  "30": $gray-30,
  "40": $gray-40,
  "50": $gray-50,
  "60": $gray-60,
  "70": $gray-70,
  "80": $gray-80,
  "90": $gray-90,
) !default;

//prefix
// $prefix: krds- !default;

//breakpoints
$breakpoint-sm: 600px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1920px !default;
$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
) !default;

//spacers
$spacer-0: 0 !default;
$spacer-default: 0.1rem !default;
$spacer-default2: 0.2rem !default;
$spacer-full: 100% !default;
$spacers: (
  "0": "0",
  "default": ".1rem",
  "default2": ".2rem",
  "full": "100%",
) !default;

//font style
$font-family-base: "Pretendard Variable", Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",  sans-serif, Poppins !default;
$font-size-root: 62.5% !default; //10px 1rem으로 설정
$font-size-base: 1.6rem !default;

$font-size: (
  sizes: (
    display: (
      "sm": "4rem",
      "md": "5rem",
      "lg": "6.6rem",
    ),
    heading: (
      "sm": "3.2rem",
      "md": "4rem",
      "lg": "5rem",
    ),
    title: (
      "xsm": "1.5rem",
      "sm": "1.7rem",
      "md": "1.9rem",
      "lg": "2.1rem",
      "xlg": "2.5rem",
      "xxlg": "3.2rem",
    ),
    body: (
      "sm": "1.5rem",
      "md": "1.7rem",
      "lg": "1.9rem",
    ),
    link: (
      "sm": "1.5rem",
      "md": "1.7rem",
      "lg": "1.9rem",
    ),
    detail: (
      "sm": "1.3rem",
      "md": "1.5rem",
      "lg": "1.7rem",
    ),
    label: (
      "xsm": "1.3rem",
      "sm": "1.5rem",
      "md": "1.7rem",
      "lg": "1.9rem",
    ),
  ),
) !default;

// Display font sizes
$font-size-display-sm: 4rem !default;
$font-size-display-md: 5rem !default;
$font-size-display-lg: 6.6rem !default;

// Heading font sizes
$font-size-heading-sm: 3.2rem !default;
$font-size-heading-md: 4rem !default;
$font-size-heading-lg: 5rem !default;

// Title font sizes
$font-size-title-xsm: 1.5rem !default;
$font-size-title-sm: 1.7rem !default;
$font-size-title-md: 1.9rem !default;
$font-size-title-lg: 2.1rem !default;
$font-size-title-xlg: 2.5rem !default;
$font-size-title-xxlg: 3.2rem !default;

// Body font sizes
$font-size-body-sm: 1.5rem !default;
$font-size-body-md: 1.7rem !default;
$font-size-body-lg: 1.9rem !default;

// Link font sizes
$font-size-link-sm: 1.5rem !default;
$font-size-link-md: 1.7rem !default;
$font-size-link-lg: 1.9rem !default;

// Detail font sizes
$font-size-detail-sm: 1.3rem !default;
$font-size-detail-md: 1.5rem !default;
$font-size-detail-lg: 1.7rem !default;

// Label font sizes
$font-size-label-xsm: 1.3rem !default;
$font-size-label-sm: 1.5rem !default;
$font-size-label-md: 1.7rem !default;
$font-size-label-lg: 1.9rem !default;

// font weight
$fws-light: 300 !default;
$fws-normal: 400 !default;
$fws-medium: 500 !default;
$fws-bold: 700 !default;
$fws-bolder: 800 !default;
$fws: (
  "light": 300,
  "normal": 400,
  "medium": 500,
  "bold": 700,
  "bolder": 800,
) !default;

//line height style
$line-height-none: 1 !default;
$line-height-base: 1.5 !default;

//border radius
$border-radius-1: 0.1rem !default;
$border-radius-2: 0.2rem !default;
$border-radius-4: 0.4rem !default;
$border-radius-6: 0.6rem !default;
$border-radius-8: 0.8rem !default;
$border-radius-10: 1rem !default;
$border-radius-12: 1.2rem !default;
$border-radius-full: 100% !default;
$border-radius: (
  "1": ".1rem",
  "2": ".2rem",
  "4": ".4rem",
  "6": ".6rem",
  "8": ".8rem",
  "10": "1rem",
  "12": "1.2rem",
  "full": "100%",
) !default;

//btn setting
$btn-height-xsm: 3.2rem !default;
$btn-height-sm: 4rem !default;
$btn-height-md: 4.8rem !default;
$btn-height-lg: 5.6rem !default;
$btn-height-xlg: 6.4rem !default;

$btn-padding-x-xsm: 1rem !default;
$btn-padding-x-sm: 1.2rem !default;
$btn-padding-x-md: 1.6rem !default;
$btn-padding-x-lg: 2rem !default;
$btn-padding-x-xlg: 2.4rem !default;

$btn-radius-xsm: 0.6rem !default;
$btn-radius-sm: 0.6rem !default;
$btn-radius-md: 0.8rem !default;
$btn-radius-lg: 0.8rem !default;
$btn-radius-xlg: 0.8rem !default;

$btn-font-size-xsm: 1.5rem !default;
$btn-font-size-sm: 1.7rem !default;
$btn-font-size-md: 1.7rem !default;
$btn-font-size-lg: 1.9rem !default;
$btn-font-size-xlg: 1.9rem !default;

//transition
$transition-base: 0.4s ease-in-out !default;
$transition-fade: opacity 0.4s linear !default;
$transition-collapse: max-height 0.4s ease !default;
$transition-collapse-width: width 0.4s ease !default;

//box shadow
$box-shadow-base: 2px 2px 2px 0px rgba(0, 0, 0, 0.15) !default;

//img url 대치
$url: "../../img" !default;

//position 종류
$position-type: (x, y, both);
