// #header {
//   top: 0;
// }
.app-player #footer {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 3;
}
.app-player .fp-overflow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-player .height_box {
  height: 800vh;
}
.app-player {
  background: #1e1e1e;
  .scroll_box {
    width: 100%;
    right: 0;
    height: 100%;
    z-index: 3;
    background: #1e1e1e;
    position: absolute;
    pointer-events: none;
  }

  .rotate_box {
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mobileMore {
      width: calc(100vw - 57vw);
      height: calc(100vw - 57vw);
    }
    .circle_box {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      img {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.inner_t {
  width: 100%;
  height: 100vh;
  position: absolute;
  text-align: center;
  z-index: 2;
  color: #fff;
  font-size: 2.5vw;
  pointer-events: none;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .t__dep1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* 은은한 어두운 그림자 */
    em {
      font-size: 2rem;
      color: #0095ff;
      text-shadow: 2px 2px 6px rgba(0, 149, 255, 0.5), 0px 0px 10px rgba(0, 149, 255, 0.7); /* 밝은 파란색 글로우 효과 */
    }
  }
  .t__dep2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* 은은한 어두운 그림자 */
  }
  .t__dep3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* 은은한 어두운 그림자 */
  }
  .t__dep4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* 은은한 어두운 그림자 */
    em {
      font-weight: bold;
      text-shadow: 2px 2px 6px rgba(0, 149, 255, 0.5), 0px 0px 10px rgba(0, 149, 255, 0.7); /* 밝은 파란색 글로우 효과 */
      color: #0095ff;
    }
  }

  .circle {
    width: 100%;
    height: 100%;

    position: relative;
  }
  .circle_item {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .item__img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10vw;
      opacity: 0;

      &.item__1 {
        top: 84%;
        left: 79%;
      }
      &.item__2 {
        top: 16%;
        left: 21%;
      }
    }
  }
}
.video_t {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5vw;
  z-index: -3;
  pointer-events: none;
  @include mobile {
    font-size: 2rem;
  }
  .video_item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    video {
    }
  }
  .video_dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .bg_dim {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      width: 30vw;
      height: 30vw;
      background: #1e1e1e;
      opacity: 0.8;
      border-radius: 50%;
      opacity: 0;
      @include mobileMore {
        width: 30vw;
        height: 30vw;
      }
    }
    .app_logo {
      position: absolute;
      z-index: 2;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      @include mobile {
        top: 30%;
        transform: translate(-50%, -50%) scale(0.7);
      }
    }
    .app_download {
      position: absolute;
      width: 100%;
      top: 70%;
      left: 50%;
      z-index: 2;
      text-align: center;
      transform: translate(-50%, -50%);
      opacity: 0;
      img {
        cursor: pointer;
        // pointer-events: visible; 활성화 되면 스크롤이 스클롤을 방해함
      }
      @include mobile {
        top: 40%;
        display: flex;
        gap: 20px;
        transform: translate(-50%, -50%) scale(0.7);
      }
    }
  }

  .video_txt {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* 은은한 어두운 그림자 */
    em {
      font-weight: 800;
      text-shadow: 2px 2px 6px rgba(0, 149, 255, 0.3), 0px 0px 10px rgba(0, 149, 255, 0.5); /* 밝은 파란색 글로우 효과 */
      color: #0095ff;
    }
  }
}
