// 사이트 컨텐츠 내용

:root {
  --swiper-theme-color: #2d63ad;
}
// full page 네비게이션 버튼
#fp-nav {
  display: none;
}
.swiper {
  width: 100%;
  padding-left: 20px;
}
.swiper-wrapper {
  width: auto;
}
.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}
.swiper-pagination {
  display: none;
}
/* swiper */

.slide-overlay {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
.slide-overlay.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

/* 오른쪽 딤드 */
.slide-overlay.right {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

//loading
.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 1;
  transition: 0.5s;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
.music {
  width: 300px;
  height: 200px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.music .bar {
  width: 12px;
  border-radius: 10px;
  background: #fff;
  animation: loader 1.5s ease-in-out infinite;
}
.music .bar:nth-child(1) {
  background: #007acc; /* 어두운 블루 */
  animation-delay: 1s;
}
.music .bar:nth-child(2) {
  background: #008bde; /* 약간 더 밝은 블루 */
  animation-delay: 0.8s;
}
.music .bar:nth-child(3) {
  background: #0095ff; /* 기준 색상 */
  animation-delay: 0.6s;
}
.music .bar:nth-child(4) {
  background: #00a3ff; /* 기준 색보다 밝은 블루 */
  animation-delay: 0.4s;
}
.music .bar:nth-child(5) {
  background: #33b5ff; /* 밝은 블루 */
  animation-delay: 0.2s;
}
.music .bar:nth-child(6) {
  background: #33b5ff; /* 밝은 블루 */
  animation-delay: 0.2s;
}
.music .bar:nth-child(7) {
  background: #00a3ff; /* 기준 색보다 밝은 블루 */
  animation-delay: 0.4s;
}
.music .bar:nth-child(8) {
  background: #0095ff; /* 기준 색상 */
  animation-delay: 0.6s;
}
.music .bar:nth-child(9) {
  background: #008bde; /* 약간 더 밝은 블루 */
  animation-delay: 0.8s;
}
.music .bar:nth-child(10) {
  background: #007acc; /* 어두운 블루 */
  animation-delay: 1s;
}

@keyframes loader {
  0%,
  100% {
    height: 2px;
  }
  50% {
    height: 80px;
  }
}
