// 사이트 공통 스타일

#fullpage .section {
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.height_box {
  position: relative;
  width: 100vw !important;
  height: 300vh;
  overflow: hidden !important;
}
.fp-overflow {
  width: 100%;
  height: 100vh;
  display: flex;
}

.fp-is-overflow {
  > .fp-overflow {
    overflow: auto;
  }
}

.height_box {
  position: relative;
  width: 100vw !important;
  height: 300vh;
  overflow: hidden !important;
}
