// 사이트 컨텐츠 내용

:root {
  --swiper-theme-color: red;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
