// 사이트 공통 스타일
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Apple SD Gothic Neo", "Pretendard Variable", Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic",
    sans-serif, Poppins;
}

#fullpage .section {
  height: 100vh;
  position: relative;
  background-color: #1e1e1e;
}

.height_box {
  position: relative;
  width: 100vw !important;
  height: 300vh;
  overflow: hidden !important;
}
.fp-overflow {
  width: 100%;
  height: 100vh;
  display: flex;
}

.fp-is-overflow {
  > .fp-overflow {
    overflow: auto;
  }
}

.height_box {
  position: relative;
  width: 100vw !important;
  height: 300vh;
  overflow: hidden !important;
}
// section 안에 요소의 레이아웃
.cont {
  width: 100%;
  height: 100%;
  padding-top: 90px;
  /* overflow: hidden; */
  position: relative;
  @include mobile {
    padding: 20% 2% 0 2%;
  }
  &.cont-news {
    padding: 0;
  }
}
