// 사이트 레이아웃 관련 요소
// wrap

.intro-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #1e1e1e;
  overflow: hidden;
  z-index: 10;
}

.sec-01 .fp-overflow {
  display: block;
}
.sec-01 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}



// header
// footer
#footer {
  width: 100%;
  height: 120px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  border-top: 1px solid #8e8e8e;
  text-align: center;
}
// aside
