// 사이트 레이아웃 관련 요소
// wrap
.wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}
//header
#header {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  z-index: 20;
  height: 74px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  transition: top 0.3s ease;
  border-bottom: 1px solid #767676;
  .logo {
    box-sizing: border-box;
    padding: 16px 24px;
    a {
      width: 90px;
      height: 40px;
      display: block;
      background: url(../../../resources/images/f_logo.png) no-repeat center/contain;
    }
  }
  .menu-btn {
    position: absolute;
    right: 24px;
    top: 16px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    cursor: pointer;
    &.active ~ #m-gnb {
      opacity: 1;
      visibility: visible;
      top: 0px;
      z-index: -1;
    }
    @include tabletMore {
      display: none;
    }
    div {
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;
      opacity: 1;
    }
    &.active div {
      opacity: 0;
    }
    &::after {
      content: "";
      width: 3px;
      height: 30px;
      background: #fff;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: 0.5s;
    }
    &::before {
      content: "";
      width: 3px;
      height: 30px;
      background: #fff;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: 0.5s;
    }
    &.active {
      &::after {
        content: "";
        width: 2px;
        height: 40px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    &.active {
      &::before {
        content: "";
        width: 2px;
        height: 40px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  #gnb {
    display: flex;
    align-items: center;
    padding-right: 24px;
    .gnb__depth1 {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: block;
        height: 73px;
        line-height: 73px;
        padding: 0 20px;
        color: #5e5e5e;
        &.active {
          color: #0095ff;
        }
        &:hover {
          font-weight: 800;
          color: #0095ff;
        }
      }
    }
    @include tabletLess {
      display: none;
    }
  }
  #m-gnb {
    position: fixed;
    background: #1e1e1e;
    width: 100%;
    height: 100%;
    padding: 73px 24px;
    font-size: 1.6rem;
    opacity: 0;
    top: 200px;
    visibility: hidden;
    transition: 0.7s;
    // top: 73px;  // 최종 위치값
    .gnb__depth1 {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
      li {
        a {
          display: block;
          padding: 10px 0;
          transition: 0.3s;
          &:hover {
            color: #0095ff;
          }
        }
        &#login {
          text-align: center;
          border-top: 1px solid #eee;
          padding: 20px 0;
        }
      }
    }
  }
  .gnb__bg {
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    position: absolute;
    z-index: 1;
  }
}

// intro
.intro-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #1e1e1e;
  overflow: hidden;
  z-index: 10;
}
.side-box {
  position: absolute;
  width: 100%;
  height: 100%;
  @include mobile {
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  span {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Poppins;
    &:nth-child(1) {
      top: 15px;
      left: 15px;
    }
    &:nth-child(2) {
      top: 15px;
      right: 15px;
    }
    &:nth-child(3) {
      bottom: 15px;
      left: 15px;
    }
    &:nth-child(4) {
      bottom: 15px;
      right: 15px;
    }
    @include mobile {
      font-size: 1.6rem;
    }
  }
}

.big-logo {
  background-image: url(../../../resources/images/genie-big.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center !important;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: none; */
}
.small-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #1e1e1e;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../resources/images/genie33.png);
}
// section 1
.sec-01 .fp-overflow {
  display: block;
}
.sec-01 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.cont-t {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 2;
  overflow: hidden;
}
.inner-txt {
  height: 100%;
  font-family: "Pretendard";
  font-size: 8rem;
  transform: scale(1);
  color: #fff;

  @include tabletLess {
    font-size: 4rem;
  }
  @include mobile {
    font-size: 2rem;
  }
}
.inner-txt p {
  line-height: 1;
}
.inner-txt.active {
  color: #0095ff;
  transition: 0.5s;
}
.inner-txt .top_txt {
  transform-origin: top left;
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}
.inner-txt .bottom_txt {
  transform-origin: bottom right;
  transform: scale(1);
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}
.inner-txt.active .top_txt {
  transform: scale(1.6);
  @include mobile {
    transform: scale(2);
  }
}
.inner-txt.active .bottom_txt {
  transform: scale(1.6);
  @include mobile {
    transform: scale(2);
  }
}

.inner-txt .bottom_txt {
  height: 100%;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.sec-01__item {
  width: 60%;
  height: 60%;
  left: -5%;
  bottom: -10%;
  z-index: 1;
  position: absolute;
  background: url(../../../resources/images/blue-cle.svg) no-repeat -10% 100%;
  @include mobileMore {
    font-size: 4rem;
    background: url(../../../resources/images/blue-cle.svg) no-repeat -10% 100% / contain;
  }
  @include mobile {
    width: 100%;
    height: 100%;
    left: -35%;
    bottom: 20%;
    background: url(../../../resources/images/blue-cle.svg) no-repeat -10% 100% / contain;
    transform-origin: center;
    transform: scale(1);
    animation: aniScale 2s infinite alternate ease-in-out;
  }
  @keyframes aniScale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }
}
.movie-item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  .movie__t {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    z-index: 0;
    @include mobile {
      font-size: 2rem;
    }
  }
}
.movie__video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-scale {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* 비디오가 화면에 꽉 차도록 */
  transform-origin: center;
  user-select: none;
  opacity: 1;
}

/* sec-01 end */
/* sec-02 */

.album-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  background-image: url(../../../resources/images/music_small_1.svg);
  background-size: cover;
  background-position: center;
  transition: background-image 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  pointer-events: none;
  /* z-index: -1; */
}
.album-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 1.5); /* 반투명한 검은 배경 */
  z-index: 0;
}
.album-info {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  top: 40%;
  left: 45%;
  transform: translate(50%, -50%);
  z-index: 1;
  pointer-events: none;
  @include mobile {
    width: 100%;
    display: block;
    padding-top: 73px;
    transform: none;
    text-align: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
  }
  @include tablet {
    left: 50%;
    top: 30%;
  }

  .album-title {
    width: 100%;
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #fff;
    @include mobile {
      font-size: 2.3rem;
    }
    @include tablet {
      font-size: 2.7rem;
    }
  }
}

.album-desc {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #c3c3c3;
  @include mobile {
    font-size: 1.3rem;
  }
}

.album-list {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-left: 10%;
  padding-bottom: 200px;
  padding-top: 200px;
  background: #1e1e1e;
  @include mobile {
    gap: 100px;
    padding-left: 0;
    align-items: center;
  }
}

.album-item {
  width: 350px;
  height: 600px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  @include mobile {
    width: 250px;
    height: 450px;
    // flex-shrink: 0;
  }
}
.album-item:nth-child(odd) {
  transform: translateX(0%);

  @include tabletLess {
    transform: translateX(0%);
  }
  // @media (max-width: 550px) {
  //   transform: translateX(0%);
  // }
}
.album-item:nth-child(even) {
  transform: translateX(50%);

  @include tabletLess {
    transform: translateX(0%);
  }
  // @media (max-width: 550px) {
  //   transform: translateX(0%);
  // }
}

.album-cover {
  height: 350px;
  object-fit: cover;
  @include mobile {
    height: 250px;
  }
}

.item__desc {
  padding: 20px;
  color: #fff;
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 0 13px 13px;
  }
  .desc__tit {
    font-size: 2.5rem;
    color: inherit;
    @include mobile {
      font-size: 1.6rem;
    }
  }
  .desc__name {
    font-size: 1.8rem;
    color: inherit;
    @include mobile {
      font-size: 1.4rem;
    }
  }
  .desc__artist {
    font-size: 1.6rem;
    color: #d8d8d8;
    @include mobile {
      font-size: 1.4rem;
    }
  }
  .desc__day {
    font-size: 1.4rem;
    color: #d8d8d8;
    @include mobile {
      font-size: 1.2rem;
      margin-top: 5px;
    }
  }
  .item__good {
    font-size: 1.4rem;
    display: flex;
    margin-left: -10px;
    @include mobile {
      font-size: 1.2rem;
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 10px;
      cursor: pointer;
    }
    .good__data {
      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: url(../../../resources/images/album-good-icon.png) no-repeat center;
      }
      &:hover::before {
        background: url(../../../resources/images/album-good-icon-hover.png) no-repeat center;
      }
    }
    .good__up {
      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: url(../../../resources/images/album-upload-icon.png) no-repeat center;
      }
      &:hover::before {
        background: url(../../../resources/images/albim-upload-icon-hover.png) no-repeat center;
      }
    }
  }
  .item__btn {
    font-size: 1.8rem;
    display: flex;
    margin-top: 5px;
    gap: 20px;
    @include mobile {
      font-size: 1.6rem;
      justify-content: center;
    }
    a {
      display: flex;
      align-items: center;
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      color: inherit;
      gap: 20px;
      padding-right: 10px;
      &.btn__play {
        @include mobile {
          gap: 10px;
        }
        &::before {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          background: url(../../../resources/images/album-play-btn.png) no-repeat center;
        }
        &:hover {
          color: #0095ff;
          border: 1px solid #0095ff;
          &::before {
            background: url(../../../resources/images/album-play-hover.png) no-repeat center;
          }
        }
      }

      &.btn__download {
        @include mobile {
          display: none;
        }
        &::before {
          content: "";
          display: block;
          width: 40px;
          height: 40px;
          background: url(../../../resources/images/album-download-btn.png) no-repeat center;
        }
        &:hover {
          color: #0095ff;
          border: 1px solid #0095ff;
          &::before {
            background: url(../../../resources/images/album-download-hover.png) no-repeat center;
          }
        }
      }
    }
  }
}

.wave-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  translate: 50% 20%;
  z-index: 0;
  width: 50%;
  pointer-events: none;
  @include tablet {
    translate: 0% 50%;
    width: 100%;
  }
  @include mobile {
    translate: 0% 50%;
    width: 100%;
  }
}

.waves {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  gap: 24px;
  transform: rotate(-60deg);
  @include mobile {
    transform: rotate(0deg);
    gap: 5px;
  }
  @include tablet {
    transform: rotate(0deg);
    gap: 5px;
  }
}
.waves > li {
  border-radius: 10px;
  bottom: 0;
  width: calc(100% / 7);
  height: 50%;
  transform-origin: bottom;
  background: #0095ff;
  flex-shrink: 0;
  @include mobile {
    border-radius: 5px;
  }
}
.wave-dim {
  position: absolute;
  top: 0%;
  bottom: 0%;
  transform: translate(0%, 0%) rotate(90deg);
  background: linear-gradient(270deg, #0b395a 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 3;
  @include tablet {
    width: 100%;
    top: -5%;
    left: 0;
    right: 0;
    bottom: -50%;
  }
}

/* section 04 */
.sec-news {
  width: 100%;
  height: 100vh;
  z-index: 3;
}
.cont-news {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mobile {
    justify-content: space-evenly;
  }
}
.sound {
  width: 100%;
  height: 30%;
  margin-bottom: 28px;
  background-color: #2d63ad;
  @include mobile {
    margin-bottom: 0;
    height: 27%;
  }
}

.sound__txt {
  width: 100%;
  height: 100%;
  background: url(../../../resources/images/sound-txt.png) no-repeat center/contain;
}

.news-list {
  width: 100%;
  background: #1e1e1e;
  @include mobile {
  }
}

.news-list ul li {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  @include mobile {
    height: auto;
  }
}
.news-list ul li img {
  display: block;
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  @include mobile {
    height: auto;
  }
}
.news-list ul li a {
  display: block;
}
.news-list ul li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  z-index: 0;
}
.news-list ul li a:hover::after {
  top: 0;
}
.news-list ul li a:hover .list__goto {
  border-color: #0095ff;
  color: #0095ff;
}
.news-list ul li a:hover img {
  transform: scale(1.2);
}
.news-list img {
  object-fit: cover;
  transition: 0.3s;
}
.news-list .list__txtbox {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 1rem 2rem;
  z-index: 1;
}
.news-list .list__txtbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}
.list__txt {
  width: 100%;
  text-transform: uppercase;
  word-break: keep-all;
  margin-bottom: 15px;
}
.list__goto {
  border: 1px solid #fff;
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  position: relative;
}
.list__goto::after {
  content: "\f105";
  margin-left: 10px;
  font-family: "Line Awesome Free";
  font-weight: 900;
}

// footer
#footer {
  width: 100%;
  height: 200px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  border-top: 1px solid #8e8e8e;
  text-align: center;

  @include mobile {
    height: 330px;
    display: block;
    padding: 30px 20px 0 20px;
    .f_logo {
      margin-bottom: 30px;
      p {
        margin: 0 auto;
      }
    }
    .sns {
      justify-content: center;
      margin-top: 30px;
      a {
        font-size: 4rem;
        &:hover::after {
          font-size: 4.3rem;
        }
      }
    }
  }
}
.sec-news .fp-overflow {
  display: block;
  /* overflow: hidden; */
  scrollbar-width: none;
}

.f_logo p {
  width: 92px;
  height: 39px;
  background: url(../../../resources/images/f_logo.png) no-repeat center/contain;
}
.sns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sns a {
  font-family: "Line Awesome Brands";
  font-weight: 900;
  display: block;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 2rem;
}
.tw::after {
  display: block;
  content: "\f099";
}
.ig::after {
  display: block;
  content: "\f16d";
}
.yt::after {
  display: block;
  content: "\f167";
}

.sns a:hover::after {
  color: #0095ff;
  font-size: 2.3rem;
}

// aside
